package components

type NavBarItem struct {
	Label  string
	Href   string
	Icon   string
	Active bool
	Align  string
}


templ NavBarItemComponent(item NavBarItem) {
    <a
        class={
            "navbar-item",
            templ.KV("is-active", item.Active),
        }
        href={ item.Href }
    >
        if item.Icon != "" {
            <i class={ item.Icon + " mr-2" }></i>
        }
        { item.Label }
    </a>
}