
package components

templ StatsSection(cards []StatsCardParams) {
	<div class="box mt-6 has-background-info-light">
		<h3 class="title is-3 mb-5">Статистика</h3>
		for _, card := range cards {
			<div class="column is-full">
				@StatsCard(card)
			</div>
		}
	</div>
}
